<!--device_interface/templates/base.html-->


<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>


{% load static %}

<h1 style="text-align:center;font-family:verdana;font-size:150%">Welcome to INHOME</h1>
<h2 style="text-align:center;font-family:verdana;font-size:75%;">Zero trust home network protection</h2>
<p style="text-align:center;">

<!--img src="https://i.pinimg.com/originals/31/e7/48/31e7481538b7ce210f39ef2389b6e7e9.jpg" alt="Athena Owl"-->
<img src="{% static 'device_interface/vectorstock_22395349.jpg' %}" alt="Owl">


</p>

{% block content %}
{% endblock %}
