
{% extends 'base.html' %}

{% block content %}

<style>
    .center {
      margin: 0 auto;	
      width: 12%
    }
 </style>

<html>
    <body>
        <p style="text-align:center;font-family:verdana;font-size:100%;">Add a device by supplying valid values for each field</p>
        <div class="center" style="text-align:center;font-family:verdana;font-size:100%;">         
        <p> </p>
        <form action="/create_device/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}  
            <input type="submit" value="Submit"> 
            </form>
            <p>         {{ message }}  </p>            
            <p> </p>
            <a href="{% url 'dev_dashboard' %}">Admin options</a>
        </div>   
           
    </body>
</html>

{% endblock %}