{% extends 'base.html' %}

{% block content %}

<style>
    .center {
      margin: 0 auto;	
      width: 12%
    }
 </style>

<html>
    <body>
        <p style="text-align:center;font-family:verdana;font-size:100%;">Create a new device policy by supplying a valid pair of device names</p>
        <p> </p>
        <div class="center" style="text-align:center;font-family:verdana;font-size:100%;">
        <form action="/create_policy/" method="POST">
            {% csrf_token %}
            {{ form }}  
            <input type="submit" value="Submit"> 
            </form>
            <p>         {{ message }}  </p>
            <p> </p>
            <a href="{% url 'display_policies' %}">Display all device policies</a>
            <p> </p>
            <a href="{% url 'display_devices' %}">Display all devices</a>
            <p> </p>
            <a href="{% url 'dev_dashboard' %}">Admin options</a>
        </div>   
           
    </body>
</html>

{% endblock %}