{% extends 'base.html' %}

{% block content %}

<style>
    .center {
      margin: 0 auto;	
      width: 23%
    }
 </style>

<html>
    <body>
        <div class="center" style="text-align:center;font-family:verdana;font-size:100%;">
            <p>All device policies in the network</p>
            <p> </p>  
            <form action="/display_policies/" method="GET">
            {% csrf_token %}
            {{ policies | safe }} 
            <p> </p>             
            <a href="{% url 'dev_dashboard' %}">Admin options</a>
        </div>                
    </body>
</html>

{% endblock %}