<!--users/templates/users/INHOME.html-->

{% extends 'base.html' %}

{% block content %}


<h2 style="text-align:center;font-family:verdana;font-size:125%;">INHOME and device management</h2>

<style>
.center {
  margin: 0 auto;	
  width: 20%; 
}
</style>


<div class="center" style="text-align:center;font-family:verdana;font-size:125%;">
<form  method="get">
    {% csrf_token %}
    {{ form.as_p }}
    <label for="MAC">MAC address:</label><br>
    <input type="text" id="MAC" name="MAC" value=" "><br>
    <label for="IPv4_addr">IPv4 Address:</label><br>
    <input type="text" id="IPv4_addr" name="IPv4_addr" value=" "><br>
    <label for="device_name">Device name:</label><br>
    <input type="text" id="device_name" name="device_name" value=" "><br>
    <input type="submit" value="Submit">
</form>
</div>

<div style="text-align:center;font-family:verdana;font-size:125%;">
<a href="{% url 'dashboard' %}">Back to dashboard</a>
</div>
 
{% endblock %}
